%li= link_to t("Tạo sản phẩm của bạn"), new_product_path
%body
  %section.row.contentRowPad
    .container
      .row
        - @product.each do |product|
          .col-sm-3.product
            .productInner.row.m0
              .row.m0.imgHov
                = image_tag(product.image.url, height: '330px')
                .row.m0.hovArea
                  .row.m0.icons
                    %ul.list-inline
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-heart
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-exchange
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-expand
                  .row.m0.proType
                    %a{:href => "#"}= product.category.name
                  .row.m0.proRating
                    %i.fa.fa-star-o
                    %i.fa.fa-star-o
                    %i.fa.fa-star-o
                    %i.fa.fa-star-o
                    %i.fa.fa-star-o
                  .row.m0.proPrice
                    %i.fa.fa-usd
                    = product.price
              .row.m0.proName
                %a{:href => "single-product.html"}= product.name
%li= link_to t("Quản lí sản phẩm của bạn"), quanlihang_path
