!!!
%html{:lang => "en"}
  / Mirrored from premiumlayers.com/demos/furniture/product2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 Nov 2016 02:20:29 GMT
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Hoc vien nong nghiep Viet Nam
    / Favicons
    %link{:href => "favicon/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "favicon/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "favicon/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "favicon/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "favicon/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "favicon/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "favicon/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "favicon/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "favicon/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "favicon/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "favicon/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "favicon/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "favicon/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "favicon/manifest.json", :rel => "manifest"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "favicon/ms-icon-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    / Bootstrap and Other Vendors
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "vendors/owl.carousel/css/owl.carousel.css", :rel => "stylesheet"}/
    %link{:href => "vendors/lightbox/css/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "vendors/flexslider/flexslider.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "vendors/bootstrap-rating/bootstrap-rating.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    / Fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    / Mechanic Styles
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/responsive.css", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
  %body
    %header#header.row
      .row.m0.top_menus
        .container
          .row
            %ul.nav.nav-pills.fleft
              %li= link_to "Trang chủ" , products_url
              %li
                %a{:href => "about.html"} Đơn vị sản xuất
              %li
                %a{:href => "contact.html"} Liên hệ
            %ul.nav.nav-pills.fright
              %li= link_to t(".home_pages"), new_cart_path
              %li= link_to t(".line_items"), line_items_path
              %li= link_to t(".account"), new_admin_user_url
              %li= link_to "English", locale:"en"
              %li= link_to "Vietnamese", locale:"vi"
      .row.m0.logo_line
        .container
          .row
            .col-sm-5.logo
              %a.logo_a{:href => "index-2.html"}
                %img_ta{:alt => "Furniture House", :src => "images/logo111.png", :style => "height:200px"}
      %nav.navbar.navbar-default.m0.navbar-static-top
        .container-fluid.container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#mainNav", "data-toggle" => "collapse", :type => "button"}
              %i.fa.fa-bars
              Navigation
          / Collect the nav links, forms, and other content for toggling
          #mainNav.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "index-2.html", :role => "button"} Home
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "index-2.html"} Trang chủ
                  %li
                    %a{:href => "index3.html"} Home 1
                  %li
                    %a{:href => "index2.html"} Home 2
                  %li
                    %a{:href => "index3.html"} Home 3
              %li
                %a{:href => "about.html"} Đơn vị sản xuất
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"} Cộng Đồng
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "services.html"} Kĩ thuật
                  %li
                    %a{:href => "blog.html"} Blog
                  %li
                    %a{:href => "single-post.html"} Single Post
                  %li
                    %a{:href => "shortcodes.html"} Shortcodes
                  %li
                    %a{:href => "404.html"} 404
              %li.dropdown.megaMenu
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"} Danh sách
                %ul.dropdown-menu.row.m0{:role => "menu"}
                  %li.listMenu
                    .row.listTitle Mít
                    %ul.nav.megaInnerMenu
                      %li
                        %a{:href => "#chairs"} Bưởi
                      %li
                        %a{:href => "#tables"} Cam
                      %li
                        %a{:href => "#dressers"} Na
                      %li
                        %a{:href => "#desk"} Nhãn
                      %li
                        %a{:href => "#beds"} Táo
                      %li
                        %a{:href => "#benches"} Phật thủ
                      %li
                        %a{:href => "#moroccan"} Chuối
                      %li
                        %a{:href => "#poufs"} Hoa
                      %li
                        %a{:href => "#screen"} Cây cảnh
                  %li.listMenu
                    .row.listTitle Mua sắm theo đơn
                    %ul.nav.megaInnerMenu
                      %li
                        %a{:href => "#bond"}
                          %b Táo Đài Loan
                      %li
                        %a{:href => "#whitaker"} Táo Thái
                      %li
                        %a{:href => "#arden"} Táo Đại
                      %li
                        %a{:href => "#channing"} Táo T5
                      %li
                        %a{:href => "#delphine"} Cam Vinh
                      %li
                        %a{:href => "#jacque"} Cam V5
                      %li
                        %a{:href => "#lampert"} Cam Canh
                  %li.boxMenu
                    .row.listTitle
                      Sản phẩm
                      %a{:href => "product.html"}
                        Hot
                        %i.fa.fa-caret-right
                    %ul.nav.megaInnerMenu.row.m0
                      %li
                        %a{:href => "product2.html"}
                          .row.m0.imgHov
                            = image_tag("product/18.jpg", height: '200px')
                            .row.m0.hovCnt
                              .row.m0.hovCntInner
                                shop now
                                %i.fa.fa-caret-right
                          .row.m0.menuTitle Nhãn lồng
                      %li
                        %a{:href => "product.html"}
                          .row.m0.imgHov
                            = image_tag("product/16.jpg", height: '200px')
                            .row.m0.hovCnt
                              .row.m0.hovCntInner
                                shop now
                                %i.fa.fa-caret-right
                          .row.m0.menuTitle Phật thủ
                      %li
                        %a{:href => "product2.html"}
                          .row.m0.imgHov
                            = image_tag("product/18.jpg", height: '200px')
                            .row.m0.hovCnt
                              .row.m0.hovCntInner
                                shop now
                                %i.fa.fa-caret-right
                          .row.m0.menuTitle Bưởi Diễn
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"} Sản phẩm
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "product.html"} Cây ăn quả
                  %li
                    %a{:href => "product2.html"} Cây công trình
                  %li
                    %a{:href => "single-product.html"} Cây ăn quả ngắn ngày
                  %li
                    %a{:href => "catalog.html"} Cây ăn quả dài ngày
                  %li
                    %a{:href => "cart.html"} Hoa
                  %li
                    %a{:href => "checkout.html"} Cây cảnh
              %li
                %a{:href => "index2.html"} Tin tức
              %li
                %a{:href => "#"} Tham quan
              %li
                %a{:href => "contact.html"} Liên hệ
          / /.navbar-collapse
        / /.container-fluid
      .row.topFeatures.m0
        .container
          %ul.nav.nav-justified.text-center
            %li
              = image_tag("icons/returns.png")
              30 ngày / tháng
            %li
              = image_tag("icons/delivery-car.png")
              Tối ưu thời gian vận chuyển
            %li
              = image_tag("icons/tel24-7.png")
              Giúp đỡ 24/7
    / Header
    /
      section id="breadcrumbRow" class="row">
      <div>
      <haml_loud> image_tag(&quot;daingay/2.jpg&quot;, with: &#39;3000px&#39; ) </haml_loud>
      <h2>Uy tín - Chất lượng - Hợp lí</h2>
      <div class="row pageTitle m0">
      <div class="container">
      <h4 class="fleft">product page</h4>
      <ul class="breadcrumb fright">
      <li><a href="index-2.html">Trang chủ</a></li>
      <li class="active">product page</li>
      </ul>
      </div>
      </div>
      </div>
      </section
    %section.row.contentRowPad
      .container
        .row
          - @products.each do |product|
            .col-sm-3.product
              .productInner.row.m0
                .row.m0.imgHov
                  = image_tag(product.image.url, height: '330px')
                  .row.m0.hovArea
                    .row.m0.icons
                      %ul.list-inline
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-heart
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-exchange
                        %li
                          %a{:href => "#"}
                            %i.fa.fa-expand
                    .row.m0.proType
                      %a{:href => "#"}= product.category.name
                    .row.m0.proRating
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                    .row.m0.proPrice
                      %i.fa.fa-usd
                      = product.price
                .row.m0.proName
                  %a{:href => "single-product.html"}= product.name
                .row.m0.proBuyBtn
                  = button_to 'Add to Cart',                 |
  line_items_path(:product_id => product), |
  :remote => true                          |

      %div
        = paginate @products, theme: 'twitter-bootstrap-3'
        %table
          %tr{:style => "color: red"}
    %footer.row.footer2
      .row.m0.topFooter
        .container.line1
          .row.footFeatures
            .col-sm-4.footFeature
              .media
                .media-left.icon
                  %img{:alt => "", :src => "images/icons/car3.png"}/
                .media-body.texts
                  %h4 free shipping
                  %h2 International
            .col-sm-4.footFeature
              .media.m0
                .media-left.icon
                  %img{:alt => "", :src => "images/icons/tel24-7_2.png"}/
                .media-body.texts
                  %h4 24 hours helpline
                  %h2 01693060073
            .col-sm-4.footFeature
              .media.m0
                .media-left.icon
                  %img{:alt => "", :src => "images/icons/shopping-bag2.png"}/
                .media-body.texts
                  %h4 Tin tức
                  %h2 Sản xuất
        .container.line2
          .row
            .col-sm-3.widget
              .row.m0
                %h4 Hỗ trợ khách hàng
                %p Chúng tôi cung cấp chất lượng tốt nhất của sản phẩm cho bạn.Chúng tôi luôn ở đây để giúp khách hàng đáng yêu của chúng tôi.
                %ul.list-inline
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-dribbble
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-google-plus
            .col-sm-3.widget
              .row.m0
                %h4 Thông tin
                %ul.nav
                  %li
                    %a{:href => "about.html"} About Us
                  %li
                    %a{:href => "services.html"} Services
                  %li
                    %a{:href => "blog.html"} Blog
                  %li
                    %a{:href => "#"} Careers
                  %li
                    %a{:href => "#"} Top Brands
            .col-sm-3.widget
              .row.m0
                %h4 Những nhãn hiệu hàng đầu
                %ul.nav
                  %li
                    %a{:href => "#"} Cây giống Hoàng Anh
                  %li
                    %a{:href => "#"} FCây giống Lan Hương
                  %li
                    %a{:href => "#"} Cây giống Hương Hương
                  %li
                    %a{:href => "#"} Cây giống Hương
                  %li
                    %a{:href => "#"} Cây giống Hương
            .col-sm-3.widget
              .row.m0
                %h4 Đăng kí nhận tin tức của chúng tôi
                %form{:action => "http://premiumlayers.com/demos/furniture/subscriptionList.php", :method => "post", :role => "form"}
                  .input-group
                    %span.input-group-addon
                      %i.fa.fa-envelope
                    %input#subscribeEmail.form-control{:name => "subscribeEmail", :placeholder => "EMAIL ADDRESS", :type => "email"}/
                  %input#submit.form-control{:name => "submit", :type => "submit", :value => "Subscribe"}/
      .row.m0.copyRight
        .container
          .row
            .fleft
              © 2015
              %a{:href => "index-2.html"} FurnitureHouse
              All Rights Reserved.
            %ul.nav.nav-pills.fright
              %li
                %a{:href => "index-2.html"} Home
              %li
                %a{:href => "about.html"} about
              %li
                %a{:href => "blog.html"} blog
              %li
                %a{:href => "contact.html"} contact
    / jQuery, Bootstrap and other vendor JS
    / jQuery
    %script{:src => "js/jquery-2.1.3.min.js"}
    / Google Maps
    %script{:src => "https://maps.googleapis.com/maps/api/js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Nice Scroll
    %script{:src => "vendors/nicescroll/jquery.nicescroll.js"}
    / Flickr
    / Lightshot
    %script{:src => "vendors/lightbox/js/lightbox.min.js"}
    / Tweets
    %script{:src => "vendors/tweet/scripts.js"}
    %script{:src => "vendors/tweet/tweetie.min.js"}
    / Counter Up
    %script{:src => "vendors/waypoints/waypoints.min.js"}
    %script{:src => "vendors/counterup/jquery.counterup.min.js"}
    / Owl Carousel
    %script{:src => "vendors/owl.carousel/js/owl.carousel.min.js"}
    / Isotope
    %script{:src => "vendors/isotope/isotope-custom.js"}
    / Rating
    %script{:src => "vendors/bootstrap-rating/bootstrap-rating.min.js"}
    / FlexSlider
    %script{:src => "vendors/flexslider/jquery.flexslider-min.js"}
    / Strella JS
    %script{:src => "js/furniture.js"}
  / Mirrored from premiumlayers.com/demos/furniture/product2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 Nov 2016 02:20:29 GMT
