<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from premiumlayers.com/demos/furniture/product2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 Nov 2016 02:20:29 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoc vien nong nghiep Viet Nam</title>
    
    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <!--Bootstrap and Other Vendors-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl.carousel/css/owl.carousel.css">    
    
    <link rel="stylesheet" type="text/css" href="vendors/lightbox/css/lightbox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="vendors/flexslider/flexslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap-rating/bootstrap-rating.css" media="screen" />
    
    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    <!--Mechanic Styles-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
  <header class="row" id="header">
        <div class="row m0 top_menus">
            <div class="container">
                <div class="row">
                    <ul class="nav nav-pills fleft">
                        <li><%= link_to "Trang chủ" , products_url %></li>
                        <li><a href="about.html">Đơn vị sản xuất</a></li>
                        <li><a href="contact.html">Liên hệ </a></li>
                    </ul>
                    <ul class="nav nav-pills fright">
                        <li><a href="cart.html">Giỏ Hàng</a></li>
                        <li><a href="#">Danh sách order</a></li>
                        <li><%= link_to "Tài khoản", new_admin_user_url %></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row m0 logo_line">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 logo">
<a href="index-2.html" class="logo_a"><img_ta src="images/logo111.png" style="height:200px" alt="Furniture House"></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default m0 navbar-static-top">
            <div class="container-fluid container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
                        <i class="fa fa-bars"></i> Navigation
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="nav navbar-nav">
                        <li class="active dropdown">
                            <a href="index-2.html"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="index-2.html">Trang chủ</a></li>
                                <li><a href="index3.html">Home 1 </a></li>
                                <li><a href="index2.html">Home 2</a></li>
                                <li><a href="index3.html">Home 3</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">Đơn vị sản xuất</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cộng Đồng</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="services.html">Kĩ thuật</a></li>   
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="single-post.html">Single Post</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li class="dropdown megaMenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Danh sách</a>
                            <ul class="dropdown-menu row m0" role="menu">
                                <li class="listMenu">
                                    <div class="row listTitle">Mít</div>
                                    <ul class="nav megaInnerMenu">
                                        <li><a href="#chairs">Bưởi</a></li>
                                        <li><a href="#tables">Cam</a></li>
                                        <li><a href="#dressers">Na</a></li>
                                        <li><a href="#desk">Nhãn</a></li>
                                        <li><a href="#beds">Táo</a></li>
                                        <li><a href="#benches">Phật thủ</a></li>
                                        <li><a href="#moroccan">Chuối</a></li>
                                        <li><a href="#poufs">Hoa</a></li>
                                        <li><a href="#screen">Cây cảnh</a></li>
                                    </ul>
                                </li>
                                <li class="listMenu">
                                    <div class="row listTitle">Mua sắm theo đơn</div>
                                    <ul class="nav megaInnerMenu">
                                        <li><a href="#bond"><b>Táo Đài Loan</b></a></li>
                                        <li><a href="#whitaker">Táo Thái</a></li>
                                        <li><a href="#arden">Táo Đại</a></li>
                                        <li><a href="#channing">Táo T5</a></li>
                                        <li><a href="#delphine">Cam Vinh</a></li>
                                        <li><a href="#jacque">Cam V5</a></li>
                                        <li><a href="#lampert">Cam Canh</a></li>
                                    </ul>
                                </li>
                                <li class="boxMenu">
                                    <div class="row listTitle">
                                        Sản phẩm<a href="product.html">Hot<i class="fa fa-caret-right"></i></a>
                                    </div>
                                    <ul class="nav megaInnerMenu row m0">
                                        <li><a href="product2.html">
                                            <div class="row m0 imgHov">
                                              <%= image_tag("product/18.jpg", height: '200px') %>
                                                <div class="row m0 hovCnt">
                                                    <div class="row m0 hovCntInner">
                                                        shop now <i class="fa fa-caret-right"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m0 menuTitle">Nhãn lồng</div>
                                        </a></li>
                                        <li><a href="product.html">
                                            <div class="row m0 imgHov">
                                                  <%= image_tag("product/16.jpg", height: '200px') %>
                                                <div class="row m0 hovCnt">
                                                    <div class="row m0 hovCntInner">
                                                        shop now <i class="fa fa-caret-right"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m0 menuTitle">Phật thủ</div>
                                        </a></li>
                                        <li><a href="product2.html">
                                            <div class="row m0 imgHov">
                                      <%= image_tag("product/18.jpg", height: '200px') %>
                                                <div class="row m0 hovCnt">
                                                    <div class="row m0 hovCntInner">
                                                        shop now <i class="fa fa-caret-right"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m0 menuTitle">Bưởi Diễn</div>
                                        </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sản phẩm</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="product.html">Cây ăn quả</a></li>
                                <li><a href="product2.html">Cây công trình</a></li>
                                <li><a href="single-product.html">Cây ăn quả ngắn ngày</a></li>
                                <li><a href="catalog.html">Cây ăn quả dài ngày</a></li>
                                <li><a href="cart.html">Hoa</a></li>
                                <li><a href="checkout.html">Cây cảnh</a></li>
                            </ul>
                        </li>
                        <li><a href="index2.html">Tin tức</a></li>
                        <li><a href="#">Tham quan</a></li>
                        <li><a href="contact.html">Liên hệ</a></li>
                    </ul>              
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="row topFeatures m0">
            <div class="container">
                <ul class="nav nav-justified text-center">
                    <li><%= image_tag("icons/returns.png") %>30 ngày / tháng</li>
                    <li><%= image_tag("icons/delivery-car.png") %>Tối ưu thời gian vận chuyển</li>
                    <li><%= image_tag("icons/tel24-7.png") %>Giúp đỡ 24/7</li>
                </ul>
            </div>
        </div>
    </header> <!--Header-->
    
     <!--section id="breadcrumbRow" class="row">
        <div>
            <%= image_tag("daingay/2.jpg", with: '3000px' ) %>
        <h2>Uy tín - Chất lượng - Hợp lí</h2>
        <div class="row pageTitle m0">
            <div class="container">
                <h4 class="fleft">product page</h4>
                    <ul class="breadcrumb fright">
                        <li><a href="index-2.html">Trang chủ</a></li>
                        <li class="active">product page</li>
                    </ul>
                </div>
            </div>
        </div>
    </section-->   
    <section class="row contentRowPad">
        <div class="container">
            <div class="row">
                <% @products.each do |product|%>
                    <div class="col-sm-3 product">
                        <div class="productInner row m0">
                            <div class="row m0 imgHov">
                                <%= image_tag("product/pro1p/a1.jpg", height: '330px') %>
                                <div class="row m0 hovArea">
                                    <div class="row m0 icons">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                                        </ul>                                    
                                    </div>
                                    <div class="row m0 proType"><a href="#"><%= product.category.name%></a></div>
                                    <div class="row m0 proRating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="row m0 proPrice"><i class="fa fa-usd"></i><%= product.price %></div>
                                </div>
                            </div>
                            <div class="row m0 proName"><a href="single-product.html"><%= product.name %></a></div>
                            <div class="row m0 proBuyBtn">
                                <%= button_to 'Add to Cart', line_items_path(:product_id => product) %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            
        </div>
        <div>
          <%= paginate @products, theme: 'twitter-bootstrap-3' %>
            <table>
          <tr style="color: red">
          <td><%= link_to 'New Product', new_admin_product_path %></td>
          </tr>
            </table>
        </div>
    </section>
    <footer class="row footer2">
       <div class="row m0 topFooter">
            <div class="container line1">
                <div class="row footFeatures">
                    <div class="col-sm-4 footFeature">
                        <div class="media">
                            <div class="media-left icon"><img src="images/icons/car3.png" alt=""></div>
                            <div class="media-body texts">
                                <h4>free shipping</h4>
                                <h2>International</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 footFeature">
                        <div class="media m0">
                            <div class="media-left icon"><img src="images/icons/tel24-7_2.png" alt=""></div>
                            <div class="media-body texts">
                                <h4>24 hours helpline</h4>
                                <h2>01693060073</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 footFeature">
                        <div class="media m0">
                            <div class="media-left icon"><img src="images/icons/shopping-bag2.png" alt=""></div>
                            <div class="media-body texts">
                                <h4>Tin tức</h4>
                                <h2>Sản xuất</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container line2">
                <div class="row">
                    <div class="col-sm-3 widget">
                        <div class="row m0">
                            <h4>Hỗ trợ khách hàng</h4>
                            <p>Chúng tôi cung cấp chất lượng tốt nhất của sản phẩm cho bạn.Chúng tôi luôn ở đây để giúp khách hàng đáng yêu của chúng tôi.</p>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 widget">
                        <div class="row m0">
                            <h4>Thông tin</h4>
                            <ul class="nav">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Top Brands</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 widget">
                        <div class="row m0">
                            <h4>Những nhãn hiệu hàng đầu</h4>
                            <ul class="nav">
                                <li><a href="#">Cây giống Hoàng Anh</a></li>
                                <li><a href="#">FCây giống Lan Hương</a></li>
                                <li><a href="#">Cây giống Hương Hương</a></li>
                                <li><a href="#">Cây giống Hương</a></li>
                                <li><a href="#">Cây giống Hương</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 widget">
                        <div class="row m0">
                            <h4>Đăng kí nhận tin tức của chúng tôi</h4>
                            <form action="http://premiumlayers.com/demos/furniture/subscriptionList.php" method="post" role="form">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="email" class="form-control" id="subscribeEmail" name="subscribeEmail" placeholder="EMAIL ADDRESS">
                                </div>
                                <input type="submit" class="form-control" value="Subscribe" id="submit" name="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row m0 copyRight">
            <div class="container">
                <div class="row">
                    <div class="fleft">&copy; 2015 <a href="index-2.html">FurnitureHouse</a> All Rights Reserved.</div>
                    <ul class="nav nav-pills fright">
                        <li><a href="index-2.html">Home</a></li>
                        <li><a href="about.html">about</a></li>
                        <li><a href="blog.html">blog</a></li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    
   
    <!--jQuery, Bootstrap and other vendor JS-->
    
    <!--jQuery-->
    <script src="js/jquery-2.1.3.min.js"></script>
    
    <!--Google Maps-->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    
    <!--Bootstrap JS-->
    <script src="js/bootstrap.min.js"></script>
    
    <!--Nice Scroll-->
    <script src="vendors/nicescroll/jquery.nicescroll.js"></script>
        
    <!--Flickr-->
    
    
    <!--Lightshot-->
    <script src="vendors/lightbox/js/lightbox.min.js"></script>
    
    <!--Tweets-->
    <script src="vendors/tweet/scripts.js"></script>
    <script src="vendors/tweet/tweetie.min.js"></script>
    
    <!--Counter Up-->
    <script src="vendors/waypoints/waypoints.min.js"></script>
    <script src="vendors/counterup/jquery.counterup.min.js"></script>
    
    <!--Owl Carousel-->
    <script src="vendors/owl.carousel/js/owl.carousel.min.js"></script>
    
    <!--Isotope-->
    <script src="vendors/isotope/isotope-custom.js"></script>
    
    <!--Rating-->
    <script src="vendors/bootstrap-rating/bootstrap-rating.min.js"></script>
    
    <!--FlexSlider-->
    <script src="vendors/flexslider/jquery.flexslider-min.js"></script>
    
    <!--Strella JS-->
    <script src="js/furniture.js"></script>
</body>

<!-- Mirrored from premiumlayers.com/demos/furniture/product2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 Nov 2016 02:20:29 GMT -->
</html>