%p#notice= notice
%p
  %strong= t(".name_pr")
  = @product.name
%p
  %strong= t(".price_pr")
  = @product.price
%p
  %strong= t(".number_pr")
  = @product.number
%p
  %strong= t(".image_pr")
  = @product.image
%p
  %strong= t(".Category_pr")
  = @product.category.name
%li= link_to t("Quản lí sản phẩm của bạn"), quanlihang_path

