%p#notice= notice
%p
  %strong Name:
  = @product.name
%p
  %strong Price:
  = @product.price
%p
  %strong Number:
  = @product.number
%p
  %strong Image:
  = @product.image
%p
  %strong Category:
  = @product.category.name
%li= link_to t("Quản lí sản phẩm của bạn"), quanlihang_path

