%h1 Giỏ hàng của bạn :
%table
  %thead
    %tr
      %th Tên sản phẩm
      %th Số lượng đặt hàng
      %th Số lượng trong vườn
      %th Gia san pham
      %th Cart
      %th Thành tiền
      %th{:colspan => "3"}
  %tbody
    - @line_items.each do |line_item|
      %tr
        %td= line_item.product.name
        %td= 1
        %td= line_item.product.number
        %td= line_item.product.price
        %td= line_item.cart_id
        %td= line_item.product.price
        %td= link_to 'Xem', line_item
        %td= link_to 'Xóa', line_item, method: :delete, data: { confirm: 'Are you sure?' }
%table
  %thead
    %tr
      %th Tổng số tiền cần thanh toán :
  %tbody
    %tr
    - @line_items.each do |line_item|
      %td= line_item.cart.total_price
